<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
    </settings>
    <pipelines>
      <formClientUpload>
        <processor type="Sitecore.Wffm.AzureUploadField.Logic.Pipelines.ValidateUploadedMedia, Sitecore.Wffm.AzureUploadField"/>
        <processor type="Sitecore.Wffm.AzureUploadField.Logic.Pipelines.ResizeUploadedMedia, Sitecore.Wffm.AzureUploadField"/>
        <processor type="Sitecore.Wffm.AzureUploadField.Logic.Pipelines.UploadMediaToAzure, Sitecore.Wffm.AzureUploadField"/>
      </formClientUpload>
    </pipelines>
  </sitecore>
</configuration>
